.navbar{
  padding: 0px 20px 0px 20px;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: orange;
  display: flex;
  justify-content: space-between;
}
.logo{
  display: inline;
  cursor: pointer;
  color: white;
  
}

.logo h1{
  display: inline;
}
.logo img{
  padding-right:10px;
  filter: invert();
}
.profile img{
  filter: invert();
}

.search-box{
  height: 35px;
  display: inline;
  background-color: white;
  border-radius: 5px;
  border: 0.5px solid black;
}

.search-box select {
  padding-left: 20px;
  padding-top: 5px;
  width: 100px;
  border: none;
  height: 30px;
  border-radius: 5px 0px 0px 5px;
  outline: none;
}
.mobile-dropdown{
  display: none;
}

.search-box select option:checked{
  background-color: black;
  color: white;
}

.search-box input{
  padding-left: 20px;
  width: 250px;
  border: none;
  height: 30px;
  border-radius: 0px 5px 5px 0px;
  outline: none;
}
.dropdown-items{
  display: block;
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5.8%;
  left: 47.5%;
}

.dropdown{
  font-weight: bold;
  width: 250px;
  background-color: rgb(221, 239, 245);
  border: 0.5px solid black;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border-top: none;
  cursor: pointer;
  /* color: white; */
  &:hover{
  background-color: #282c3f;
  color: white;
}
}
.profile h3{
  display: inline-block;
  color: white;
}
.login{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.logo, .profile{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hamburger{
  filter: invert();
  display: none;
}
.Dashboard{
  display: block;
  padding-top: 30px;
  padding-left: 20px;
  width: 20%;
  border-right:0.5px solid gray;
  animation: dash 0.5s ease-in-out;
}
@keyframes dash{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.Dashboard h3{
  background-color: darkorange;
  display: inline;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
.items{
  margin-top: 20px;
}

.items li{
  color: #282c3f;
  list-style: none;
  padding: 10px;
  cursor: pointer;
  &:hover{
    color: darkorange;
  }
}

.items li::before{
  content: "◈";
  margin-right: 5px;
  color: darkorange;
  
}
.Dashboard-short{
  background-color:darkorange;
  display: block;
  width: 3.5%;
  height: 100vh;
  padding-top: 20px;
  padding-left: 10px;
  border-right:0px solid gray;
  animation: dash 0.3s ease-in-out;

}
.Dashboard-short img{
  filter: invert();
}
.banner img{
  border-radius: 10px;
  width: 680px;
  position: absolute;
  top: 10%;
  right: 30%;
  transition: 0.5s ease-in-out;
  &:hover{
    scale: 1.05;
  }
}
.category{
  color: #282c3f;
  margin-top: 0;
  width: 700px;
  position: absolute;
  top: 69%;
  right: 30%;

}
.title{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.cat-items{
  flex-wrap: wrap;
  display: flex;
  gap: 1rem;
}
.items-c{
  color: #282c3f;
  padding:14px;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  align-items: center;

}
.items-c img{
  transition: 0.2s ease-in-out;
}

.title h3{
  font-size: 1.5rem;
}
.title h4{
  color: darkorange;
}
.items-c:hover{
  background-color: orange;
  color: white;
}
.items-c img:hover{
  scale:1.1;
}

.bill{
  color: #282c3f;
  width: 20%;
  padding: 20px;
  background-color: rgba(255, 166, 0, 0.26);
  border: 1px solid orange;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  right: 5%;
}

.balance-card{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.781),orange, darkorange);
  color: white;
  border-radius:10px ;
  border: 2px solid rgb(255, 102, 0);
  
}


.balance-card h4{
  margin-bottom: 10px;
}

.btn1{
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  cursor: pointer;
  font-weight: 700;
  border: 2px solid rgb(255, 102, 0);
  background-color: white;
}
.buttons{
  display: flex;
  gap: 1rem;
}
.address{
  color: darkorange;
  font-weight: 600;
  font-size: 14px;
}
.place{
  margin-top: 10px; 
  margin-bottom: 15px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.place button{
  border: 2px solid darkorange;
  border-radius: 5px;
  width: 4.8rem;
  height: 2rem;
  color: darkorange;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  &:hover{
    background-color: darkorange;
    color: white;
  }
}
.description{
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.adding-details{
  display: flex;
  gap: 1rem;
}
.btn2{
  font-weight: 600;
  height: 35px;
  width: 110px;
  border-radius: 5px;
  border: 2px solid darkorange;
  background-color: orange;
  color: white;
  cursor: pointer;
  margin-bottom: 30px;
}
.Error{
  display: flex;
  justify-content: center;
  text-align: center;
}
.Error img{
  width: 70%;
  /* height: 90vh; */
}
.profile-div{
  background-color: #37718e;
  height: 93vh;
  padding: 60px;
}
.details, .phone-email{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone-email{
  font-size: 13px;
  color: white;
  gap: 1rem;
  font-weight: lighter;
}
.details-text h1{
  font-weight: bold;
  color: white;
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
}
.details-btn button{
  width: 120px;
  height: 40px;
  font-size: 13px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  font-weight: 700;
  &:hover{
    color: #37718e;
    background-color: rgba(255, 255, 255, 0.652);
  }
}
.past-orders h1{
  display: block;
  margin-bottom: 20px;
  color: #282c3f;
}
.past-order-details{
  color: #282c3f;
  padding: 20px;
  border: 0.5px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.past-orders{
  color: #282c3f;
  margin-top: 50px;
  padding: 40px;
  height: 60vh;
  width: 100%;
  background-color: white;
}
.shop-details{
  display: flex;
  justify-content: space-between;
}
.shop-details-image img{
  width: 150px;
}
.shop-details-text{
  margin-left: 20px;
}
.shop-details-text h3{
  font-size: 17px;
  font-weight: 700;
}
.shop-details-text p{
  margin-top: 5px;
  font-size: 13px;
  font-weight: 700;
}
.shop-details-text h2{
  margin-top: 15px;
  font-size: 17px;
  font-weight: 700;
  color: darkorange;
  cursor: pointer;
}
.itemPrice{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.reorder-help{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5rem;
}
.btn3:first-child{
  margin-top: 5px;
}
.btn3:nth-child(2){
  background-color: white;
  color: darkorange;
  &:hover{
    background-color: orange;
    color: white;
  }
}
.btn3{
  width: 120px;
  height: 35px;
  font-weight: 600;
  border: 2px solid darkorange;
  background-color: orange;
  color: white;
  cursor: pointer;
  &:hover{
    background-color: white;
    color: darkorange;
  }
}
.Login{
  background-image: url(../src/assets/appBackground.jpg);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #282c3f;
}
.Login-box{
  box-shadow: -10px 10px 30px grey;
  width: 400px;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
}

form h3{
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 18px;
}
form input[type="email"],
input[type="password"]{
  width: 100%;
  height: 40px;
  font-size: 15px;
  padding-left: 20px ;
  outline: none;
  border: 0.5px solid rgba(128, 128, 128, 0.393);
  border-radius: 10px;
}
input[type="checkbox"]{
  cursor: pointer;
  margin-right: 5px;
}
.check-rem{
  display: flex;
}
.rem-for{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
input[type="submit"]{
  width: 100%;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #282c3f;
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 10px;
  cursor: pointer;
}
.acc{
  text-align: center;
  margin-bottom: 10px;
}

.tosignup{
  color: blue;
  cursor: pointer;
}
.signIn-opt{
  display: flex;
  justify-content: space-between;
}
.signIn-opt button{
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border: 0.5px solid rgba(128, 128, 128, 0.393);
  cursor: pointer;
}
.signIn-opt button img{
  width: 30px;
  margin-right: 5px;

}
.signIn-opt button a p{
  color: black;
}

form input[type="text"]{
  width: 100%;
  height: 40px;
  font-size: 15px;
  padding-left: 20px ;
  outline: none;
  border: 0.5px solid rgba(128, 128, 128, 0.393);
  border-radius: 10px;
}

.signup{
  margin-top: 30px;
}
.otp-text{
  text-align: center;
  font-size: 1.5rem;
}
.desc{
  font-size: 1rem;
  color: #282c3f;
  font-weight: lighter;
  margin-bottom: 20px;
}
.otp-code{
  display: flex;
  gap: 1rem;
}
.opt-code-box{
  width: 30px;
  height: 50px;
  padding-left: 40px;
}
.change-profile{
  box-shadow: -10px 90px 50px rgba(0, 0, 0, 0.42);
  background-color: white;
  width: 28%;
  height: 93vh;
  position: absolute;
  top: 6.9%;
  right: 0;
  padding: 40px;
  animation: popup 0.5s linear;
}
@keyframes popup{
  0%{
    transform: translate(100px);
  }
  10%{
    transform: translate(90px);
  }
  20%{
    transform: translate(80px);
  }
  30%{
    transform: translate(70px);
  }
  40%{
    transform: translate(60px);
  }
  50%{
    transform: translate(50px);
  }
  60%{
    transform: translate(40px);
  }
  70%{
    transform: translate(30px);
  }
  80%{
    transform: translate(20px);
  }
  90%{
    transform: translate(10px);
  }
  
  100%{
    transform: translate(0px);
  }
}
.change-profile-text h2{
  font-size: 1.1rem;
}
.change-profile-text{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  
}
.change-profile-text img{
  margin-right: 15px;
  cursor: pointer;
}
.change-profile-input-box{
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}
.change-profile-input-box h4{
  font-weight: 600;
}

.change-profile-input-box input[type="text"]{
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  height: 40px;
  font-size: 15px;
  padding-left: 20px ;
  outline: none;
  border: none;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.393);
  border-radius: 10px;
}
.change-profile-input-box button{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 10px;
  background-color: orange;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  border: 0.5px solid rgba(128, 128, 128, 0.393);
  cursor: pointer;
}
.products{
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.product-card{
  cursor: pointer;
  padding: 20px;
  width: 300px;
  /* height: 50vh; */
  border-radius: 10px;
  box-shadow: -10px 10px 30px grey;
  transition: 0.3s ease-in-out;
  &:hover{
    scale: 1;
  }
}
.product-card img{
  width: 100%;
  cursor: pointer;
  border-radius: 20px;
}
.product-card h3{
  position: relative;
  top: -40px;
  left: 15px;
  color: white;
  font-size: 20px;
}
.product-card h4{
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  color: #282c3f;
}
.product-card-image{
  margin: 0;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}
.product-card-rating{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.product-card-rating p{
  font-weight: 700;
  font-size: 1.1rem;
}
.product-card-rating img{
  margin-right: 10px;
  width: 20px;

}
.product-card-details p{
  font-size: 1rem;
  color: #282c3f;
}
.gallery{
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.img-w{
  flex: 1 1 calc(25% - 10px);
  height: 400px;
  overflow: hidden;
  cursor: pointer;
}
.image-text{
  position: absolute;
  right: 14%;
  top: 36%;
  z-index: 10;
  color: white;
}
.img-w div{
  height: 400px;
  overflow: hidden;
}
.img-w img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.gallery :nth-child(4) img{
  filter: blur(2px);
}
.singleProduct-title{
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
}
.singleProduct-details{
  padding-left: 100px;
  padding-right: 100px;
}
.singleProduct-details p{
  margin-top: 10px;
  color: #282c3f;
}
.singleProduct-details p span {
  color: orange;
}
.singleProduct-rating, .rating{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating img{
  width: 25px;
  margin: 10px;
}
.singleProduct-buttons{
  margin-top: 20px;
  display: flex;
  gap: 1rem;
}
.singleProduct-buttons button{
  padding: 10px;
  width: 150px;
  height: 50px;
  font-weight: bold;
  color: black;
  border: 1px solid darkorange;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.singleProduct-buttons button div {
  display: flex;
  justify-content:flex-start;
  align-items: center;
}
.singleProduct-buttons button div p{
  margin: 0;
}
.singleProduct-buttons button div img{
  margin-right: 10px;
}
.productCard{
  border: 0.5px solid #bcbcbe;
  border-radius: 10px;
}
.productCard:hover{
  scale: 0px;
}
.cart{
  padding: 20px;
  display: flex;
}
.selected-items{
  width: 70%;
  padding: 40px;
  background-color: rgb(239, 238, 238);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 87vh;
}
.summary{
  width: 30%;
  background-color: #373a48;
}
.cart-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.cart-product-image{
  width: 120px;
  border-radius: 5px;
}
.cart-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.product-name-details p{
  font-size: 20px;
  font-weight: bold;
}
.cart-add-delete-items button{
  width: 30px;
  height: 30px;
  background-color: white;
  border: 0.5px solid #282c3f;
  border-radius: 2px;
  cursor: pointer;
}
.cart-add-delete-items input{
  height: 30px;
  width: 35px;
  margin-left: 5px;
  margin-right: 5px;
  outline: none;
  border:0.5px solid #282c3f;
  border-radius: 2px;
  text-align: center;
}
.cart-delete{
  cursor: pointer;
}
.selected-items hr{
  margin-bottom: 20px;
}
.summary{
  padding: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}
.summary-items-price{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.summary h3{
  margin-top: 20px;
  margin-bottom: 10px;
}
.hr-1{
  margin-top: 20px;
  margin-bottom: 20px;
}
.summary-price-text{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 600;
}
.summary-price{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}
.free-delivery{
  color: green;
  font-weight: 700;
}
.hr-2{
  border: none;
  border-top: 1px dotted white;
}
.summary button{
  width: 100%;
  font-size: 1.5rem;
  background-color: orange;
  color: black;
  border: 0.5px solid darkorange;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  font-weight: 500;
}






@media screen and (max-width:600px){
  .navbar{
    height: 70px;
  }
  .logo h1{
    font-size: 15px;
  }
  .logo img{
    width: 50px;
  }
  .login{
    display: none;
  }
  .mobile-dropdown{
    background-color: orange;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
  }
  .bigscreen{
    display: none;
  }
  
  .bill-cover{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .bill{
    position: relative;
    width: 100%;
    right: 0;
    margin-bottom: 20px;
  }
  .banner {
    width: 100%;
    padding: 10px;
  }
  .banner img{
    position: relative;
    left: 0;
    width: 100%;
  }
  .category{
    padding: 20px;
    position: relative;
    top: 43%;
    left: 0;
    width: 100%;
  }
  .items-c{
    margin-bottom: 20px;
  }
  .cat-items{
    display: flex;
    justify-content: space-evenly;
  }
  
  .mobile-dropdown{
    padding-left: 10px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .dropdown-items{
    width: 100%;
    position:static;
    bottom: 11.7%;
  }
  .dropdown{
    width: 100%;
  }
  .hamburger{
    display: block;
  }
  .Dashboard{
    position: absolute;
    z-index: 3;
    width: 60%;
    height: 100vh;
    background-color: white;
  }
  .login-text-h3{
    color: black;
  }
  .btn2{
    width: 50%;
  }
  .dashforbig{
    display: none;
  }
  .Login{
    padding: 20px;
  }
  .details{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .details-text{
    text-align: center;
  }
  .profile-div{
    padding: 20px;
    padding-top: 60px;
  }
  .shop-details-image img{
    display: none;
  }
  .past-order-details{
    padding: 10px;
  }
  .past-orders{
    padding: 30px;
    border-radius: 10px;
  }
  .order-status{
    display: none;
  }
  .shop-details{
    margin: 0;
  }
  .shop-details-text h3{
    font-size: 20px;
  }
  .shop-details-text p{
    font-size: 15px;
  }
  .change-profile{
    width: 80%;
    height: 100vh;
    position: absolute;
    top: 16.2%;

  }
  .gallery{
    padding-left: 20px;
    padding-right: 20px;
  }
  .image-text{
    display: none;
  }
  .img4w, .img3w{
    display: none;
  }
  .singleProduct-title{
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
  }
  .singleProduct-rating{
    flex-direction: column;
  }
  .singleProduct-details{
    padding-left: 20px;
    padding-right: 20px;
  }
  .sp-btn1{
    overflow: hidden;
  }
  .cart{
    display: flex;
    flex-direction: column;
  }
  .selected-items, .summary{
    width: 100%;
  }
  .summary{
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    height: auto;
  }
  .selected-items{
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    height: auto;
  }
  .cart-title p{
    display: none;
  }
  .cart-title{
    justify-content: center;
  }
  .cart-items{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .cart-items button{
      width: 35px;
  }
  .price{
    font-size: 1.5rem;
    font-weight: 500;
  }
  .product-name-details p{
    font-size: 1rem;
  }
}